footer {
    font-family: 'TitilliumWeb';
    font-weight: 400;
    background-color: rgb(14, 14, 14);
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 5vh;
}

footer h1 {
    font-family: 'TitilliumWeb';
    margin: 0;
    margin-bottom: 2vh;
}

footer > p {
    margin: 0;
    margin-top: 3vh;
    font-size: 15px;
    color: rgb(163, 163, 163);
}

.contacts {
    color: white;
}
.contacts p {
    margin: 0;
    line-height: 1.5;
}